parameters:
    level: max
    scanDirectories:
        - /git/geompse
        - /git/geompse/alice
        - /git/geompse/games
        - /git/geompse/games/dom
        - /git/geompse/haguenau
        - /git/geompse
        - /git/geompse/alice
        - /git/geompse/games
        - /git/geompse/games/dom
        - /git/geompse/haguenau
        - /git/geompse
        - /git/geompse/alice
        - /git/geompse/games
        - /git/geompse/games/dom
        - /git/geompse/haguenau
        - /git/geompse
        - /git/geompse/alice
        - /git/geompse/games
        - /git/geompse/games/dom
        - /git/geompse/haguenau
        - /git/geompse
        - /git/geompse/alice
        - /git/geompse/games
        - /git/geompse/haguenau
        - /git/geompse
        - /git/netsoins-dev/dictionnaire
        - /git/netsoins-dev/dictionnaire/definition
        - /git/netsoins-dev/dictionnaire/record
        - /git/netsoins-dev/dictionnaire/schema
        - /git/netsoins-dev/dictionnaire/table
        - /git/netsoins-dev/lib
        - /git/netsoins-dev/lib/apps
        - /git/netsoins-dev/lib/apps/modules
        - /git/netsoins-dev/lib/apps/traits
        - /git/netsoins-dev/lib/barcode
        - /git/netsoins-dev/lib/barcode/class
        - /git/netsoins-dev/lib/barcode/class/drawer
        - /git/netsoins-dev/lib/barcode/class/font
        - /git/netsoins-dev/lib/bcb
        - /git/netsoins-dev/lib/bcb/vendor
        - /git/netsoins-dev/lib/bcb/vendor/resip
        - /git/netsoins-dev/lib/bcb/vendor/resip/lib
        - /git/netsoins-dev/lib/bcb/vendor/resip/tests
        - /git/netsoins-dev/lib/calendrier
        - /git/netsoins-dev/lib/class
        - /git/netsoins-dev/lib/coherence
        - /git/netsoins-dev/lib/contact
        - /git/netsoins-dev/lib/contact/definition
        - /git/netsoins-dev/lib/contact/interface
        - /git/netsoins-dev/lib/contact/record
        - /git/netsoins-dev/lib/contact/schema
        - /git/netsoins-dev/lib/contact/table
        - /git/netsoins-dev/lib/contact/trait
        - /git/netsoins-dev/lib/data
        - /git/netsoins-dev/lib/data/BCB
        - /git/netsoins-dev/lib/data/FontPaths
        - /git/netsoins-dev/lib/database
        - /git/netsoins-dev/lib/database/design
        - /git/netsoins-dev/lib/database/maj
        - /git/netsoins-dev/lib/devs
        - /git/netsoins-dev/lib/dictionnaire
        - /git/netsoins-dev/lib/fonts
        - /git/netsoins-dev/lib/gchart
        - /git/netsoins-dev/lib/global
        - /git/netsoins-dev/lib/google
        - /git/netsoins-dev/lib/hprimnet
        - /git/netsoins-dev/lib/hprimnet/lib
        - /git/netsoins-dev/lib/hprimnet/lib/tools
        - /git/netsoins-dev/lib/hprimnet/xsds
        - /git/netsoins-dev/lib/interface
        - /git/netsoins-dev/lib/io
        - /git/netsoins-dev/lib/io/ExportComptable
        - /git/netsoins-dev/lib/io/Fixtures
        - /git/netsoins-dev/lib/io/HttpClient
        - /git/netsoins-dev/lib/io/INS
        - /git/netsoins-dev/lib/io/Posos
        - /git/netsoins-dev/lib/io/Reprise
        - /git/netsoins-dev/lib/io/TerangaGenerique
        - /git/netsoins-dev/lib/io/TerangaGenerique/dictionnaire
        - /git/netsoins-dev/lib/io/TerangaGenerique/model
        - /git/netsoins-dev/lib/layout
        - /git/netsoins-dev/lib/net
        - /git/netsoins-dev/lib/NETSmart
        - /git/netsoins-dev/lib/pdf
        - /git/netsoins-dev/lib/planification
        - /git/netsoins-dev/lib/planjs
        - /git/netsoins-dev/lib/planning
        - /git/netsoins-dev/lib/risque
        - /git/netsoins-dev/lib/sepa
        - /git/netsoins-dev/lib/specifique
        - /git/netsoins-dev/lib/statistique
        - /git/netsoins-dev/lib/synthese
        - /git/netsoins-dev/lib/tools
        - /git/netsoins-dev/lib/trait
        - /git/netsoins-dev/lib/vendor
        - /git/netsoins-dev/lib/vendor/Excel
        - /git/netsoins-dev/lib/vendor/Excel/Reader
        - /git/netsoins-dev/lib/vendor/ovh
        - /git/netsoins-dev/lib/vendor/ovh/Exceptions
        - /git/netsoins-dev/lib/vendor/php-qrcode
        - /git/netsoins-dev/lib/vendor/php-qrcode/src
        - /git/netsoins-dev/lib/vendor/php-qrcode/src/Data
        - /git/netsoins-dev/lib/vendor/php-qrcode/src/Helpers
        - /git/netsoins-dev/lib/vendor/php-qrcode/src/Output
        - /git/netsoins-dev/lib/vendor/php-settings-container
        - /git/netsoins-dev/lib/vendor/php-settings-container/src
        - /git/netsoins-dev/lib/vendor/PHPExcel
        - /git/netsoins-dev/lib/vendor/PHP_XLSXWriter
        - /git/netsoins-dev/lib/vendor/XMLSecurity
        - /git/netsoins-dev/lib/view
        - /git/netsoins-dev/lib/word
        - /git/netsoins-dev/lib/WS
        - /git/netsoins-dev/system
        - /git/netsoins-dev/system/concept
        - /git/netsoins-dev/system/db
        - /git/netsoins-dev/system/db/tools
        - /git/netsoins-dev/system/filters
        - /git/netsoins-dev/system/integration
        - /git/netsoins-dev/system/lessc
        - /git/netsoins-dev/system/openoffice
        - /git/netsoins-dev/system/pdf
        - /git/netsoins-dev/system/perfs
        - /git/netsoins-dev/system/websocket
    scanFiles:
        - /git/netsoins-dev/lib/class/SoapHeaderHelper.php
        - /git/netsoins-dev/lib/io/INS/ActionTraitsDIdentitesHelper.php
        - /git/netsoins-dev/lib/io/INS/ActionVitaleHelper.php
        - /git/netsoins-dev/lib/io/INS/InsVerificationHelper.php
        - /git/netsoins-dev/lib/io/ResidentTokenHelper.php
        - /git/netsoins-dev/lib/vendor/PHPExcel/PHPExcel_ReferenceHelper.php
        - /git/netsoins-dev/system/helper.php
        - /git/netsoins-dev/bash/phpstan.php
        - /git/netsoins-dev/system/init.php
    checkClassCaseSensitivity: false
    universalObjectCratesClasses:
        - stdClass
        - SimpleXMLElement
        - fxActions
    memoryLimitFile: /tmp/.phpstan.memory_limit